/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.cedarville-cursive-regular {
  font-family: "Cedarville Cursive", cursive;
  font-style: normal;
}
