<div class="min-h-screen">
  <header class="bg-white py-4 px-6 flex justify-between items-center">
    <div class="flex items-center">
      <div
        class="text-black font-bold text-3xl cedarville-cursive-regular mr-8"
      >
        dribbble
      </div>
      <nav class="hidden md:flex space-x-4">
        <a href="#" class="text-gray-500 font-semibold hover:text-gray-800"
          >Inspiration</a
        >
        <a href="#" class="text-gray-500 font-semibold hover:text-gray-800"
          >Find Work</a
        >
        <a href="#" class="text-gray-500 font-semibold hover:text-gray-800"
          >Learn Design</a
        >
        <a href="#" class="text-gray-500 font-semibold hover:text-gray-800"
          >Go Pro</a
        >
        <a href="#" class="text-gray-500 font-semibold hover:text-gray-800"
          >Hire Designers</a
        >
      </nav>
    </div>
    <div class="flex items-center space-x-4">
      <div
        class="border border-solid border-gray-100 rounded-md bg-gray-100 py-1"
      >
        <i class="fa fa-search px-2.5 py-1.5 text-gray-400"></i>
        <input
          #s
          class="outline-none ps-2 bg-gray-100 placeholder-gray-400 w-32"
          type="text"
          placeholder="Search"
        />
      </div>
      <div>
        <i class="fa fa-briefcase text-lg"></i>
        <span class="relative top-[3px] right-[3px]">
          <i class="fa fa-times-circle text-[60%]" aria-hidden="true"></i>
        </span>
      </div>
      <div>
        <i class="fa fa-user text-lg"></i>
      </div>
      <button
        class="bg-pink-500 text-white px-4 py-2 rounded-md hover:bg-pink-600"
      >
        Upload
      </button>
      <div class="relative">
        <!-- Avatar or user icon -->
      </div>
    </div>
  </header>

  <div class="w-full bg-white flex justify-center">
    <div class="p-6 w-[70%] flex flex-col items-center">
      <h2 class="text-4xl font-bold mb-4">Please verify your email...</h2>
      <div class="text-8xl">
        <i class="fa fa-envelope text-gray-400" aria-hidden="true"></i>
        <i
          class="fa fa-check-circle text-pink-500 relative bottom-16 right-2 text-xl border-2 rounded-full border-solid border-white"
          aria-hidden="true"
        ></i>
      </div>

      <div class="flex items-center justify-center mb-4">
        <p class="text-lg text-gray-600">
          Please verify your email address. We've sent a confirmation email to:
        </p>
      </div>
      <p class="text-lg text-gray-800 font-semibold mb-4">
        accountrefero.design
      </p>
      <p class="text-lg text-gray-600 mb-6">
        Click the confirmation link in that email to begin using Dribbble.
      </p>
      <p class="text-lg text-gray-600 mb-2 text-center">
        Didn't receive the email? Check your Spam folder, it may have been
        caught by a filter. If you still don't see it, you can
        <a href="#" class="text-pink-500 hover:text-pink-600"
          >resend the confirmation email</a
        >.
      </p>
      <p class="text-lg text-gray-600 mb-6">
        Wrong email address?
        <a href="#" class="text-pink-500 hover:text-pink-600">Change it</a>.
      </p>
    </div>
  </div>

  <footer class="bg-gray-100 p-6">
    <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-6 gap-4 mb-8">
      <div>
        <h3
          class="text-pink-500 font-bold text-3xl cedarville-cursive-regular mb-2"
        >
          dribbble
        </h3>
        <p class="text-base text-gray-600">
          Dribbble is the world's leading community for creatives to share, grow
          and got hired.
        </p>
        <div class="flex flex-row mt-4">
          <i class="text-base m-2 fa fa-instagram" aria-hidden="true"></i>
          <i class="text-base m-2 fa fa-facebook-square" aria-hidden="true"></i>
          <i class="text-base m-2 fa fa-twitter" aria-hidden="true"></i>
          <i class="text-base m-2 fa fa-pinterest" aria-hidden="true"></i>
          <i class="text-base m-2 fa fa-globe" aria-hidden="true"></i>
        </div>
      </div>
      <div>
        <h3 class="text-gray-800 font-semibold text-lg mb-2">For designers</h3>
        <ul class="text-gray-600">
          <li class="mt-4">
            <a href="#" class="hover:text-gray-800">Go Pro!</a>
          </li>
          <li class="mt-4">
            <a href="#" class="hover:text-gray-800">Explore design work</a>
          </li>
          <li class="mt-4">
            <a href="#" class="hover:text-gray-800">Design blog</a>
          </li>
          <!-- Add more links -->
        </ul>
      </div>
      <div>
        <h3 class="text-gray-800 font-semibold text-lg mb-2">Hire designers</h3>
        <ul class="text-gray-600">
          <li class="mt-4">
            <a href="#" class="hover:text-gray-800">Post a job opening</a>
          </li>
          <li class="mt-4">
            <a href="#" class="hover:text-gray-800">Post a freelance project</a>
          </li>
          <li class="mt-4">
            <a href="#" class="hover:text-gray-800">Search for designers</a>
          </li>
        </ul>
        <ul class="text-gray-600 mt-4">
          <li class="mt-4">
            <a href="#" class="hover:text-gray-800 font-semibold text-lg"
              >Post a freelance project</a
            >
          </li>
          <li class="mt-4">
            <a href="#" class="hover:text-gray-800">Search for designers</a>
          </li>
          <li class="mt-4">
            <a href="#" class="hover:text-gray-800">Search for designers</a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="text-gray-800 font-semibold text-lg mb-2">For designers</h3>
        <ul class="text-gray-600">
          <li class="mt-4">
            <a href="#" class="hover:text-gray-800">Go Pro!</a>
          </li>
          <li class="mt-4">
            <a href="#" class="hover:text-gray-800">Explore design work</a>
          </li>
          <li class="mt-4">
            <a href="#" class="hover:text-gray-800">Design blog</a>
          </li>
          <!-- Add more links -->
        </ul>
      </div>
      <div>
        <h3 class="text-gray-800 font-semibold text-lg mb-2">Hire designers</h3>
        <ul class="text-gray-600">
          <li class="mt-4">
            <a href="#" class="hover:text-gray-800">Post a job opening</a>
          </li>
          <li class="mt-4">
            <a href="#" class="hover:text-gray-800">Post a freelance project</a>
          </li>
          <li class="mt-4">
            <a href="#" class="hover:text-gray-800">Search for designers</a>
          </li>

          <!-- Add more links -->
        </ul>
        <ul class="text-gray-600 mt-4">
          <li class="mt-4">
            <a href="#" class="hover:text-gray-800 font-semibold text-lg"
              >Post a freelance project</a
            >
          </li>
          <li class="mt-4">
            <a href="#" class="hover:text-gray-800">Search for designers</a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="text-gray-800 font-semibold text-lg mb-2">Hire designers</h3>
        <ul class="text-gray-600">
          <li class="mt-4">
            <a href="#" class="hover:text-gray-800">Post a job opening</a>
          </li>
          <li class="mt-4">
            <a href="#" class="hover:text-gray-800">Post a freelance project</a>
          </li>
          <li class="mt-4">
            <a href="#" class="hover:text-gray-800">Search for designers</a>
          </li>
          <li class="mt-4">
            <a href="#" class="hover:text-gray-800">Post a job opening</a>
          </li>
          <li class="mt-4">
            <a href="#" class="hover:text-gray-800">Post a freelance project</a>
          </li>
          <li class="mt-4">
            <a href="#" class="hover:text-gray-800">Search for designers</a>
          </li>
          <!-- Add more links -->
        </ul>
      </div>

      <!-- Add more columns for Company, Directories, and Design Resources -->
    </div>
    <hr />
    <div class="mt-8 flex flex-col md:flex-row justify-between items-center">
      <p class="text-lg text-gray-600 mb-4 md:mb-0">
        &copy; 2023 Dribbble. All rights reserved.
      </p>
      <div class="flex space-x-4">
        <p class="text-sm text-gray-600 md:mb-0">
          <span class="font-bold m-2">20,322,00</span>shots dribbbled
          <i class="text-base fa fa-globe" aria-hidden="true"></i>
        </p>
      </div>
    </div>
  </footer>
</div>
